@import "tailwindcss";
@plugin "daisyui"{
    themes: light --default
};


.active{
    text-decoration: underline;
     text-underline-offset: 5px; 
    
};


.btn-primary {
  @apply btn btn-sm bg-gradient-to-r from-purple-500 to-pink-500 text-white hover:from-pink-500 hover:to-purple-500 border-0;
}